<div class="container-fluid">
  <h3>  Ayuda en el Seguimiento y Análisis de la Información </h3>

  <p>En esta sección se detalla las posibilidades que Gambito tiene de análisis de la información generada de cara a la toma
    de decisiones en el área TIC. Para ello hay creados una serie de informes que se explican a continuación que la muestran.
     Los informes generados son interactivos, permitiendo realizar distintos análisis de la información que los componen,
     simplemente pulsando en los distintos elementos.
  </p>
  <p>  </p>
  <p>- <strong>Seguimiento Presupuestario:</strong> Al comenzar la ejecución de un presupuesto, lo primero que hay que comenzar
    a observar de forma constante es si las previsiones de gasto efectuadas son correctas. Habitualmente el gasto debe seguirse
  mayor precaución que la inversión, puesto que ésta es discrecional, mientras que el gasto no lo es. En esta opción tenemos acceso
a un informe que muestra las facturas imputadas a cada línea de detalle del presupuesto. </p>
  <p>  </p>
  <p>- <strong>Análisis de CMDB:</strong> El gasto imputado es posible repartirlo por CIs. En esta opción se muestra un cuadro de mando
    que lo analiza desde varias perspectivas.</p>
  <p>  </p>
  <p>- <strong>Análisis por Centros:</strong> Igualmente, las facturas pagadas se pueden repartir por centros de varias formas,
    proporcionalmente a nº de empleados, por igual para cada centro o asignárselas a un único centro. Una vez realizado el reparto,
    desde este cuadro de mando se pueden hacer varios análisis comparativos.</p>
  <p>  </p>
  <p>- <strong>Análisis por Proveedores:</strong> Por último, si se desea conocer la distribución de gastos por proveedores, este
    informe realiza un análisis temporal de proveedores, reparto de presupuesto entre ellos o por CIs.</p>
  <p>  </p>


</div>
<div></div>
