

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gambito</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" id="presupuestoMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Presupuesto</a>
        <div class="dropdown-menu" aria-labelledby="presupuestoMenuLink">
          <a class="dropdown-item" href="#" routerLink='linkPresuNver'>Nueva Versión</a>
          <a class="dropdown-item" href="#" routerLink='linkPresCarga'>Carga de Presupuesto</a>
          <a class="dropdown-item" href="#" routerLink='linkPresCierre'>Aprobación/Reapertura</a>
          <a class="dropdown-item" href="#" routerLink='ayudaPresu'>Ayuda</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="contabilizacionMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contabilización y Reparto</a>
          <div class="dropdown-menu" aria-labelledby="contabilizacionMenuLink">
            <a class="dropdown-item" href="#" routerLink='linkFacturas' >Imputación Facturas</a>
            <a class="dropdown-item" href="#" routerLink='repartoCostes'>Reparto de costes</a>
            <a class="dropdown-item" href="#" routerLink='ayudaContable'>Ayuda</a>
          </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="seguimientoMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seguimiento y Análisis</a>
            <div class="dropdown-menu" aria-labelledby="seguimientoMenuLink">
              <a class="dropdown-item" href="#" routerLink='SegPresup'>Seguimiento Presupuestario</a>
              <a class="dropdown-item" href="#" routerLink='AnalisisCMDB'>Análisis de CMDB</a>
              <a class="dropdown-item" href="#" routerLink='AnalisisCentros'>Análisis por Centros</a>
              <a class="dropdown-item" href="#" routerLink='AnalisisProveedores'>Análisis por Proveedores</a>
              <a class="dropdown-item" href="#" routerLink='ayudaSegui'>Ayuda</a>
            </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parametrización
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink='linkCMDB'>CMDB</a>
          <a class="dropdown-item" href="#" routerLink='linkCentros' >Centros</a>
          <a class="dropdown-item" href="#" routerLink='linkNIPR' >Niveles Presupuesto</a>
          <a class="dropdown-item" href="#" routerLink='Proveedores'>Proveedores</a>
          <a class="dropdown-item" href="#" routerLink="listaPAPR">Partidas de Presupuesto</a>
          <a class="dropdown-item" href="#" routerLink='listaTIPR'>Tipos de Presupuesto</a>
          <a class="dropdown-item" href="#" routerLink='ayudaParam'>Ayuda</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


