<div class="container-fluid">
  <h3>  Ayuda en las tablas de parametrización </h3>

  <p>En esta sección se muestran los datos de las tablas que contienen datos maestros para realizar la presupuestación y el seguimiento</p>
  <p>  </p>
  <p>- <strong>CMDB:</strong> en esta pantalla se realiza el mantenimiento de los activos (CI - configuration item) que tiene una empresa.
  Están agrupados en familias, con un determinado detalle, matrícula identificativa, antigüedad y centro en que están instalados. Todo ello
es útil para poder realizar el reparto de costes que se pagan por el mantenimiento. </p>
  <p>  </p>
  <p>- <strong>Centros:</strong> en esta pantalla se realiza el mantenimiento de los datos de las oficinas y departamentos que tiene
  la compañía. En estos dato está el código de centro, el número de empleados que tiene, la localidad en que está ubicado y la zona
  de la que depende. El reparto de gastos TIC que realiza la empresa puede hacerse proporcionalmente al nº de centros (por igual), según
  el nº de empleados que tiene o asumirlo completamente.</p>
  <p>  </p>
  <p>- <strong>Proveedores:</strong> necesarios para poder realizar un análisis de volumen de facturación, dependencia que existe de
  determinadas empresas.Los datos que se utilizan son el NIF, denominación de la empresa y localidad.</p>
  <p>  </p>
  <p>- <strong>Tipos de Presupuesto:</strong> dependiendo de si el presupuesto es gasto o inversión, el presupuesto se contabiliza
  completamente en el año (gasto) o se activa como un bien comprado (máquina o programa) y el gasto se reparte en varios años,
 dependiendo de su vida útil. Por ejemplo un ordenador personal puede tener una vida útil estimada de 4 años.</p>
  <p>  </p>
  <p>- <strong>Partidas de Presupuesto:</strong> la empresa puede separar su presupuesto en distintas partidas, como si fueran huchas
  que se destinan a diversos fines. En esta empresa lo habitual es disponer de partida de presupuesto ordinario, la que se dispone
 año tras año, y estratégico, que se habilita para poder afrontar inversiones en determinados años.</p>
  <p>  </p>


</div>
<div></div>
