<div class="container-fluid">
  <h3>  Ayuda en el proceso de Presupuestación </h3>

  <p>En esta sección se detalla el proceso que hay que realizar en el proceso de generar un nuevo presupuesto</p>
  <p>  </p>
  <p>- <strong>Nueva versión:</strong> El primer paso para generar un presupuesto es el de generar una nueva versión de presupuesto.
  Cuando se inicia el año o cuando se quiere conservar una visión del presupuesto y, sin perderla, tener una nueva, lo necesario
  es generar una nueva versión. Cada versión del presupuesto tiene como claves el año para el que se genera, el tipo de presupuesto
  (ordinario...) y la partida presupuestaria (generalmente gasto o inversión). Los valores y sus características de tipo y partida
 presupuestaria están detallados en la ayuda de Parametrización.
En el momento de generar una nueva versión de presupuesto, se crea en la tabla de movimientos de presupuesto todos los niveles que
están parametrizados para un presupuesto de esas características, con sus importes de presupuesto y facturado a cero. </p>
  <p>  </p>
  <p>- <strong>Carga de presupuesto:</strong> Una vez dada de alta la nueva versión del presupuesto, deben introducirse los importes
    que presupuestamos. Para ello se dan de alta importes para las líneas de detalle, las código 99, que es de donde se colgarán las
    facturas. Las agregaciones irán sumando las partidas hasta llegar al nivel de presupuesto.</p>
  <p>  </p>
  <p>- <strong>Aprobación/Reapertura:</strong> Al finalizar la introducción de los importes de presupuesto, debe aprobarse para
    poder comenzar a ejecutarlo e imputar facturas al mismo. En el caso de que se quiera volver a modificar importes de alguna línea de presupuesto
     debe reabrirse y modificarla, debiendo nuevamente aprobarse y seguir con la imputación de facturas.</p>
  <p>  </p>



</div>
<div></div>
