<div class="container-fluid">
    <h3>  Ayuda en el proceso contable </h3>

    <p>En esta sección se realizan los apuntes contables sobre un presupuesto ya aprobado. Esto se compone de dos pasos: </p>
    <p>- Imputación de facturas</p>
    <p>  </p>
    <p>- Reparto de costes</p>
    <p>  </p>
    <p><strong>Imputación de facturas</strong>  </p>
    <p>Una vez que tenemos el presupuesto aprobado, hay que consumirlo, necesario para mantener la función TIC con vida. Para ell
      debemos contratar los servicios necesarios para mantener nuestros activos (CI) en perfecto estado, nuestros programas sin bugs,
    etc., así como los consumibles, comunicaciones, etc., para poder dar el servicio que nuestros usuarios nos contratan.  </p>

    <p>  </p>
    <p>Para poder dar de alta una factura debemos previamente saber a qué presupuestos imputarla, para ello es necesario:</p>
    <p>- Conocer el año de presupuesto (normalmente el actual), el tipo de presupuesto (ordinario, estratégico...) y si es una partida de gasto o de inversión.</p>
    <p>- Además deberemos conocer a qué agrupación presupuestaria imputarlo y dentro de ella a qué partida.  </p>


    <p>  </p>
    <p><strong>Reparto de costes</strong>  </p>
    <p>Los costes que realiza el departamento TIC los realiza para dar un servicio a sus clientes, resto de departamentos. Estos costes
      no son iguales para todos ellos ni en todo momento, sino que varían dependiendo del número de departamentos/oficinas que tiene
     la empresa en cada momentos, de los empleados que tienen cada uno de ellos o de los elementos y tipología que utilizan.  </p>

    <p>  </p>
    <p>Por tanto, para poder conocer cómo repartir los gastos e inversiones que realiza TIC a sus usuarios, es necesario conocer:</p>
    <p>- El número de centros (oficinas y departamentos) que tiene la empresa.</p>
    <p>- El número de empleados que trabajan en cada centro.  </p>
    <p>- La tipología y número de los recursos que utilizan (ordenadores, impresoras, etc.).  </p>
    <p>  </p>
    <p>Determinados elementos, como las comunicaciones troncales o los servidores centrales, es complicado realizar un reparto por
      uso, por lo que habrá determinados gastos que no se repartirán.  </p>

  </div>
  <div></div>
